name: Validate

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7
        with:
          components: clippy, rustfmt

      - name: Cache cargo registry
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-

      - name: Check formatting
        run: cargo fmt-check

      - name: Clippy
        run: cargo lint

  build-and-test:
    name: Build & Test (${{ matrix.os }}, ${{ matrix.profile }})
    runs-on: ${{ matrix.os }}
    needs: check
    strategy:
      fail-fast: true
      matrix:
        # TODO: support windows-latest
        os: [ubuntu-latest, macos-latest]
        profile: [debug, release]

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7

      - name: Cache cargo registry
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.profile }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.profile }}-cargo-
            ${{ runner.os }}-cargo-

      - name: Build
        run: cargo build --all-targets ${{matrix.profile == 'release' && '--release' || ''}}

      - name: Test
        run: cargo test ${{matrix.profile == 'release' && '--release' || ''}}
